/* content */
body {
  margin: 0px;
}

/* 3 colom */
.members {
  display: flex;
  flex-wrap: wrap;
}
.member {
  width: 33.333%;
}
.members .border1 {
  border-top: solid 7px #60d7cc;
}
.members .border2 {
  border-top: solid 7px #8cd7a5;
}
.members .border3 {
  border-top: solid 7px #f77965;
}
.member img {
  display: block;
  margin-top: 2em;
  margin-right: auto;
  margin-left: auto;
  height: 12em;
}
.border1 h3 {
  display: inline-block;
  font-size: medium;
  color: #aaa;
  padding-bottom: 5px;
  border-bottom: solid 2px #60d7cc;
}
.border2 h3 {
  display: inline-block;
  font-size: medium;
  color: #aaa;
  padding-bottom: 5px;
  border-bottom: solid 2px #8cd7a5;
}
.border3 h3 {
  display: inline-block;
  font-size: medium;
  color: #aaa;
  padding-bottom: 5px;
  border-bottom: solid 2px #f77965;
}
.member p {
  color: #aaa;
  width: 80%;
  font-size: 0.8em;
}
.icon-green {
  color: #60d7cc;
}
.icon-yellow {
  color: #8cd7a5;
}
.icon-red {
  color: #f77965;
}
.icon-white {
  color: white;
}

/* img class */
.wordsonimg {
  position: relative;
  height: 10em;
}
.wordsonimg p {
  color: white;
  font-size: 2em;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}
.fit-img {
  height: 10em;
  width: 100%;
  object-fit: cover;
}
/* navigation ber */
.navigation ul {
  list-style-type: none;
  margin-block-end: 0;
  margin-top: 0;
}
.navigation ul li {
  float: left;
  width: 120px;
  font-size: 1.2em;
  color: white;
}
.navigation a {
  color: white;
  display: block;
  padding: 5%;
  text-decoration: none;
}
.navigation :hover {
  background-color: #6ac1b7;
}
.navigation {
  background-color: #517d99;
  height: 3em;
}

/* header */
header {
  background-color: #517d99;
  margin: 0px;
  padding: 8px;
}
header h1 {
  color: white;
  margin: 0.3em;
}

/* footer */
footer {
  margin-top: 5em;
  background-color: #517d99;
  padding: 8px;
  text-align: center;
}
footer p {
  color: white;
}
